@font-face {
    font-family: 'Oxygen Mono', monospace;
    font-style: normal;
    font-weight: 400;
    src: url('https://fonts.googleapis.com/css2?family=Oxygen+Mono&display=swap');
}

body {
    font-family: oxygen Mono, monospace;
    font-size: 14px;
    background-color: #1c1c1c;
    color: white;
    text-align: left;
}
h1.title {
    font-size: 30px;
}
h2.subtitle {
    font-size: 18px;
}